h1{
    color: red;
}

h2{
    color: red;
}

/*layout celular*/

@media(max-width: 450px){
    h1 {
        color: green; 
        background-color: yellow;
    }
    body{
        background-color: gray;
    }

    h2{
        color: green;
    }

    /*layout celular*/

    @media(min-width: 750px) and (max-width: 1024px){
        h1{
            color: rgb(58, 192, 58)
        }

        h2{
            color: darkseagreen
        }
    }
    
}